@import "tailwindcss";

:root{
    --primary:hsl(240, 100%, 20%);
    --primary-light:hsl(240, 100%, 40%);
    --primary-lighter:hsl(240, 100%, 60%);
    --primary-lighter-plus:hsl(240, 100%, 80%);
}

@keyframes notification {
    
    0%{
        top:-400px;
    }

    30%{
        top:20px;
    }

    70%{
        top:20px;
    }

    100%{
        top:-400px;
    }
}

@keyframes loading {

    10%{
        transform:rotate(36deg);
    }
    20%{
        transform:rotate(72deg);
    }
    30%{
        transform:rotate(108deg);
    }
    40%{
        transform:rotate(144deg);
    }
    50%{
        transform:rotate(180deg);
    }
    60%{
        transform:rotate(216deg);
    }
    70%{
        transform:rotate(252deg);
    }
    80%{
        transform:rotate(288deg);
    }
    90%{
        transform:rotate(324deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.notification-anim{
    animation-name:notification;
    animation-duration:4s;
}

.loading-anim{
    animation-name:loading;
    animation-duration:1s;
    animation-iteration-count:infinite;
}

